// Typography
//
// This section depicts the Typography, Line breaks, Links, Button and List styles.
//
// Styleguide 2.0

// Typography
//
// The base headings and paragraph tags, with vertical alignment.
//
// markup:
// <h1>Heading 1: Care that makes couples feel at home with Australia’s best maternity team.</h1>
// <h2>Heading 2: I am looking for information </h2>
// <h3>Heading 3: Latest News</h3>
// <h4>Heading 4: Volunteers</h4>
// <h5>Heading 5: News Title goes here</h5>
// <h6>Heading 6: See all the latest news</h6>
// <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa ipsum, tincidunt vel convallis in, suscipit et risus. Morbi erat dolor, mattis at dignissim sed, feugiat sed lorem.</p>
// <p class="aside">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa ipsum, tincidunt vel convallis in, suscipit et risus. Morbi erat dolor, mattis at dignissim sed, feugiat sed lorem.</p>
//
// Styleguide 2.1
body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
